.custom-green-btn{
    display: inline-block;
    background: linear-gradient(135deg, #09585f, #0c7b82);
    color: #fff;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 12px;
    text-align: center;
    width: 35%;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(13, 90, 100, 0.4);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border: none;
}

.custom-green-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(13, 90, 100, 0.55);
    color: var(--dark-grey);
}

.custom-cancel-btn{
    display: inline-block;
    background: transparent;
    color: #09585f;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 12px;
    text-align: center;
    width: 35%;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(13, 90, 100, 0.4);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border: none;
}