@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --toastify-color-success: #09585f; /* your theme's primary blue */
  --toastify-color-error: #ff4d4d;
  --deep-sea-green: #09585f;
  --dark-grey: #d9dade;
  --yellow: #CF9341;
  --accent: #6610f2;
}

html, body {
  min-height: 100vh;   /* covers full viewport */
  height: auto;         /* allows extension when content grows */
  width: 100%;
  margin: 0;
  padding: 0;
}


.text-green{
  color: var(--deep-sea-green);
}